
<body>

<div class="title">
  <h1>¡¡Piedra, Papel ó Tijera!!</h1>
</div>

<div class="score-board">
  <div id="user-label" class="badge">user</div>
  <div id="comp-label" class="badge">comp</div>
  <span id="user-score">{{ pointsUser }}</span>:<span id="comp-score">{{ pointsComp }}</span>
</div>
<p class="info-game">{{result1}}</p>
<div class="choices">
  <div class="choice" (click)="play('r')">
    <img src="/assets/img/rock.png" />
  </div>
  <div class="choice" (click)="play('p')">
    <img src="/assets/img/paper.png" />
  </div>
  <div class="choice" (click)="play('s')">
    <img src="/assets/img/scissors.png" />
  </div>
</div>
<p class="info-game">{{result2}}</p>

</body>
