
<div class="text-center">

  <h2 class="fw-bold">Trusa</h2>
  <h3>Nuevo Concesionario</h3>

  <div class="mt-5">
    <ul class="row">
      <li class="card col-4" *ngFor="let coche of coches">
        <img src="{{coche.imagen}}" class="rounded mx-auto d-block card-img-top w-50 mt-3" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{coche.modelo}}</h5>
          <p class="card-text">{{coche.texto}}</p>
          <a routerLink="/opciones/{{coche.modelo}}" class="btn btn-primary">Personalizar</a>
        </div>
      </li>
    </ul>
  </div>
</div>

