
<ul *ngIf="listaEquipo.length">
  <li class="list-group-item" *ngFor="let equipo of listaEquipo">
    <span>{{equipo.id}}</span> - {{equipo.nombre}}
  </li>
</ul>

<button class="btn btn-success m-3" (click)="goBack()">Volver</button>
