
<div class="justify-content-center text-center mt-5">
 <img class="m-3 w-25" src="{{videojuego.caratula}}" alt="">
  <ul class="list-group">
    <li class="list-group-item">Ranking</li>
    <li class="list-group-item fw-bold">
      {{videojuego.ranking}}
    </li>
    <li class="list-group-item">Nombre</li>
    <li class="list-group-item fw-bold">
      {{videojuego.nombre}}
    </li>
    <li class="list-group-item">Editor</li>
    <li class="list-group-item fw-bold">
      {{videojuego.editor}}
    </li>
  </ul>
</div>
