
<div class="container text-center text-white mt-5">

  <mat-form-field>
    <mat-label>Buscar</mat-label>
    <input matInput placeholder="Search Here" (keyup)="applyFilter($event.target)">
    <mat-icon matPrefix color="accent">search</mat-icon>
  </mat-form-field>


  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mt-5">


    <ng-container matColumnDef="FechaInicio">
      <th mat-header-cell *matHeaderCellDef> Fecha del Prestamo </th>
      <td mat-cell *matCellDef="let element">{{element.data.FechaInicio.seconds * 1000 | date :'dd/MM/yyyy'}}</td>
    </ng-container>


    <ng-container matColumnDef="Libro">
      <th mat-header-cell *matHeaderCellDef> Portada (Libro) </th>
      <td mat-cell *matCellDef="let element"> <img src="{{getLibro(element.data.LibroId).data.Img}}"
                     style="width: 25%; height: 25%;" class="px-2 m-2 img-fluid img-thumbnail"
      routerLink="/libros/{{element.data.LibroId}}"/> </td>
    </ng-container>


    <ng-container matColumnDef="Socio">
      <th mat-header-cell *matHeaderCellDef> Nombre y Apellidos (Socio) </th>
      <td mat-cell *matCellDef="let element" routerLink="/socios/{{element.data.SocioId}}"> {{getSocio(element.data.SocioId).data.Nombre}}
        {{getSocio(element.data.SocioId).data.Apellidos}} </td>
    </ng-container>

    <ng-container matColumnDef="Accion">
      <th mat-header-cell *matHeaderCellDef> Accion </th>
      <td mat-cell *matCellDef="let element">
        <button class="mx-1" mat-raised-button color="warn"
                aria-label="Example icon button with a home icon" (click)="devolverPrestamos(element.id, element)"
                matTooltip="Devolucion de Libro" matTooltipPosition="above">
          <mat-icon matSuffix>next_week</mat-icon> Devolver
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [length]="socios.length" [pageIndex]="currentPage" [pageSize]="5" showFirstLastButtons (page)="pageChanged($event)"
                 aria-label="Select page of periodic elements">
  </mat-paginator>


  <div class="mt-5">
    <button mat-fab color="accent" aria-label="Example icon button with a delete icon" routerLink="prestamonuevo">
      <mat-icon>control_point</mat-icon>
    </button>
  </div>
</div>




<!--(click)="devolverPrestamos(prestamo.id, prestamo)"-->

