
<!-- Toast -->
<!--<div style="z-index: 100" [ngClass]="isShow ? 'toast fade show' : 'toast fade hide' " role="alert"-->
<!--    aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-target="#Toast">-->
<!--  <div class="toast-header">-->
<!--    <strong class="me-auto">{{title}}</strong>-->
<!--    <small>{{date | date:"MM/dd/yyyy hh:mm"}}</small>-->
<!--    <button type="button" class="btn-close" data-dismiss="Toast" aria-label="close"-->
<!--        (click)="close()">-->
<!--    </button>-->
<!--  </div>-->
<!--  <div class="toast-body">-->
<!--    {{message}}-->
<!--  </div>-->
<!--</div>-->
