
<div class="container text-center text-white mt-5">

  <mat-form-field>
    <mat-label>Buscar</mat-label>
    <input matInput placeholder="Search Here" (keyup)="applyFilter($event.target)">
    <mat-icon matPrefix color="accent">search</mat-icon>
  </mat-form-field>


  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mt-5">


    <ng-container matColumnDef="Rostro">
      <th mat-header-cell *matHeaderCellDef> Rostro </th>
      <td mat-cell *matCellDef="let element"><img src="{{element.data.Img}}" style="width: 25%; height: 25%"
                                                  class="px-2 m-2 img-fluid img-thumbnail"/></td>
    </ng-container>


    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre y Apellidos </th>
      <td mat-cell *matCellDef="let element"> {{element.data.Nombre}} {{element.data.Apellidos}} </td>
    </ng-container>


    <ng-container matColumnDef="Accion">
      <th mat-header-cell *matHeaderCellDef> Accion </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" aria-label="Example icon button with a home icon" routerLink="{{element.id}}"
                matTooltip="Info" matTooltipPosition="above">
          <mat-icon> insert_drive_file</mat-icon>
        </button>

        <button [disabled]="socioPrestamo(element.id)" class="mx-1" mat-raised-button color="warn"
                aria-label="Example icon button with a home icon" (click)="bajaSocio(element)"
                matTooltip="Darse de Baja" matTooltipPosition="above">
          <mat-icon>thumb_down_alt</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [length]="socios.length" [pageIndex]="currentPage" [pageSize]="5" showFirstLastButtons (page)="pageChanged($event)"
                 aria-label="Select page of periodic elements">
  </mat-paginator>


  <div class="mt-5">
    <button mat-fab color="accent" aria-label="Example icon button with a delete icon" routerLink="socionuevo">
      <mat-icon>control_point</mat-icon>
    </button>
  </div>
</div>

