
<header class="bg-dark">
  <h1 class="text-warning mx-2">Trusa</h1>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="bg-dark text-center text-white fixed-bottom">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <p>© 2021 Copyright: Jose Miguel Muñoz</p>
  </div>
</footer>
