
<mat-card class="example-card container text-center text-white mt-5">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{libro.Titulo}}</mat-card-title>
    <mat-card-subtitle>{{libro.Autor}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image class="w-25 img-fluid img-thumbnail" src="{{libro.Img}}" alt="Portada">
  <mat-card-content>

    <mat-card-title class="bg-danger">Género</mat-card-title>
    <mat-card-subtitle class="fs-5">{{libro.Genero}}</mat-card-subtitle>

    <mat-card-title class="bg-danger">Precio</mat-card-title>
    <mat-card-subtitle class="fs-5">{{libro.Precio}}</mat-card-subtitle>

  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" routerLink="/libroModificado/{{libro.id}}"
            matTooltip="Editar Libro" matTooltipPosition="above">
      <mat-icon class="m-2"> border_color</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
