
<div class="bg-info">

  <section class="bg-gradient">
    <h4 class="fw-bold fst-italic fs-1 text-center">Autores</h4>
  </section>

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let autor of Libros">
      {{autor.autor}}
    </li>
  </ul>
</div>
