
<mat-toolbar>

  <div id="menu">

    <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/libros">
        <mat-icon>collections_bookmark</mat-icon><span>Libros</span>
      </button>
      <button mat-menu-item routerLink="/socios">
        <mat-icon>group</mat-icon><span>Socios</span>
      </button>
      <button mat-menu-item routerLink="/prestamos">
        <mat-icon>local_atm</mat-icon><span>Prestamos</span>
      </button>
    </mat-menu>

  </div>

  <button mat-icon-button class="example-icon fs-5 fw-bolder" aria-label="Example icon-button with heart icon"
          routerLink="/home">
    <mat-icon matPrefix>home</mat-icon><span>Biblioteca</span>
  </button>

  <div id="itemNav">

    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon mx-4" aria-label="Example icon-button with heart icon"
            routerLink="/libros">
      <mat-icon matPrefix>collections_bookmark</mat-icon><span>Libros</span>
    </button>

    <button mat-icon-button class="example-icon mx-4" aria-label="Example icon-button with share icon"
            routerLink="/socios">
      <mat-icon matPrefix>group</mat-icon><span>Socios</span>
    </button>

    <button mat-icon-button class="example-icon mx-4" aria-label="Example icon-button with share icon"
            routerLink="/prestamos">
      <mat-icon matPrefix>local_atm</mat-icon><span>Prestamos</span>
    </button>
  </div>

  <span class="example-spacer"></span>

  <div style="margin-left: auto">

    <button mat-raised-button class="example-icon mx-4" aria-label="Example icon-button with share icon" color="primary"
            routerLink="dashboard" *ngIf="auth.isLoggedIn">
      Ver Cuenta
    </button>

    <button mat-icon-button class="example-icon mx-4" aria-label="Example icon-button with share icon" color="accent"
            routerLink="sign-in">
      <mat-icon>account_box</mat-icon><span>Login</span>
    </button>

    <button mat-icon-button class="example-icon mx-4" aria-label="Example icon-button with share icon" color="warn"
            (click)="auth.SignOut()">
      <mat-icon>exit_to_app</mat-icon><span>Logout</span>
    </button>
  </div>
</mat-toolbar>


<div>
  <router-outlet></router-outlet>
</div>

<footer class="bg-dark text-center text-white mt-5">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <p>© 2022 Copyright: Jose Miguel Muñoz</p>
  </div>
</footer>
