/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~@angular/material/prebuilt-themes/purple-green.css';

body{
  background-image: url("https://img.freepik.com/foto-gratis/fondo-textura-papel-arrugado-negro-oscuro-cerca_99266-411.jpg?size=626&ext=jpg");
}

#itemNav{
  margin-left: 10%;
}

@media(max-width: 625px){
  #itemNav{
    visibility: hidden;
  }
}

@media(min-width: 626px){
  #menu{
    visibility: hidden;
  }
}
