<div class="container displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3 class="text-white mt-4">Reset Password</h3>

      <p class="text-center text-white">Please enter your email address to request a password reset.</p>

      <div class="formGroup">
        <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
      </div>

      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup mt-4">
        <input type="submit" class="btn btn-primary" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
      </div>
    </div>

    <div class="redirectToLogin text-white mt-4">
      <button class="btn btn-danger" (click)="location.back()">Go back</button>
    </div>

  </div>
</div>
