
<form (ngSubmit)="createPrestamo(newPrestamoForm.value)" [formGroup]="newPrestamoForm" #ngForm="ngForm" class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Crear Prestamo
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>Selecciona un Libro</mat-label>
            <mat-select formControlName="LibroId">
              <mat-option *ngFor="let libro of libros" value="{{libro.id}}">{{libro.data.Titulo}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>Selecciona un Socio</mat-label>
            <mat-select formControlName="SocioId">
              <mat-option *ngFor="let socio of socios" value="{{socio.id}}">{{socio.data.Nombre}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="!newPrestamoForm.valid" mat-raised-button color="primary">Guardar</button>
    </mat-card-actions>
  </mat-card>
</form>


