
.mat-form-field {
  margin-right: 8px;
}

.example-spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}


.btn-2a {
  border-radius: 0 0 5px 5px;
}

.btn-2 {
  background: #e14e4e;
  color: #fff;
  box-shadow: 0 4px #872f2f;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

.btn-2:hover {
  background: #cc4444;
  color: #ececec;
}

.btn-2a:hover {
  box-shadow: 0 3px #872f2f;
  top: 2px;
}

.btn-2a:active {
  box-shadow: 0 0 #872f2f;
  top: 2px;
}


