
<section class="bg-info">
  <h4 class="fw-bold fst-italic fs-1 text-center">Top Jugadores</h4>
</section>

<div *ngFor="let jugador of jugadores" class="justify-content-center text-center mt-5">
  <img class="m-3 w-25" src="{{jugador.foto}}" alt="">
  <ul class="list-group">
    <li class="list-group-item">Nombre</li>
    <li class="list-group-item fw-bold">
      {{jugador.nombre}}
    </li>
    <li class="list-group-item">Nickname</li>
    <li class="list-group-item fw-bold">
      {{jugador.nick}}
    </li>
    <li class="list-group-item">Puntuacion</li>
    <li class="list-group-item fw-bold">
      {{jugador.puntuacion}}
    </li>
  </ul>
</div>
