
<div class="row">
  <div class="card col-8">
    <img src="{{coche.imagen}}" class="rounded mx-auto d-block card-img-top w-50 mt-3" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{coche.modelo}}</h5>
    </div>
  </div>

  <div class="col-4">

    <h2 class="text-center">Motorizacion</h2>

    <div class="form-check">
      <input class="form-check-input" type="radio" value="" id="gasolina">
      <label class="form-check-label" for="gasolina">
        Gasolina
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="radio" value="" id="hibrido">
      <label class="form-check-label" for="hibrido">
        Hibrido
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="radio" value="" id="electrico">
      <label class="form-check-label" for="electrico">
        Electrico
      </label>
    </div>

    <div class="input-group mb-3">
      <label class="input-group-text" for="color">Color</label>
      <select class="form-select" id="color">
        <option selected>Elija un color</option>
        <option value="base">Base</option>
        <option value="medio">Medio</option>
        <option value="pro">Pro</option>
      </select>
    </div>

  </div>



</div>

<button class="btn btn-danger mt-5" (click)="funciones.goBack()">Volver</button>
