
<br>
<div>
  <button class='btn btn-primary btn-success' (click)="suma()">Suma  </button>
  <span *ngIf="result1">Resultado = {{result1}}</span>
</div>
<br>
<div>
  <button class='btn btn-primary btn-success' (click)="resta()">Resta</button>
  <span *ngIf="result2">Resultado = {{result2}}</span>
</div>
<br>
<div>
  <button class='btn btn-primary btn-success' (click)="multiplicar()">Multiplicar</button>
  <span *ngIf="result3">Resultado = {{result3}}</span>
</div>
<br>
<div>
  <button class='btn btn-primary btn-success' (click)="dividir()">Dividir</button>
  <span *ngIf="result4">Resultado = {{result4}}</span>
</div>
