
<div class='padre'>
  <table border=1>
    <th colspan='2' style='text-align:center'>Padre</th>
    <tr>
      <td>Valor1</td>
      <td><input class='form-control' [(ngModel)]='valor1'></td>
    </tr>
    <tr>
      <td>Valor2</td>
      <td><input class='form-control' [(ngModel)]='valor2'></td>
    </tr>
    <tr>
      <td>Resultado</td>
      <td><b>{{ resultadoP }}</b></td>
    </tr>
  </table>
</div>

<app-clase-hija [valor1]='valor1' [valor2]='valor2'
            (envRes)='captaResultado($event)'>
</app-clase-hija>
