<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<h1>Aplicación administrativa de Juegos</h1>

<ul>
  <button routerLink="/ppt">PPT</button>
  <button routerLink="/tresR">TeR</button>
</ul>

<router-outlet></router-outlet>
