
h1{
  background-color: chartreuse;
  text-align: center;
  border-radius: 2px;
  padding: 1rem;
  box-sizing: border-box;
}

button{
  background-color: #3f525c;
  border-radius: 2px;
  padding: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  text-align: center;
  width: 100%;
  min-width: 70px;
  margin: .5rem auto;
  box-sizing: border-box;

  /* flexbox */
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

button:hover{
  cursor: pointer;
  background-color: #110F26;
}

