
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/
bootstrap/4.0.0-alpha.6/css/bootstrap.min.css' integrity='sha384-
      rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ'
      crossorigin='anonymous'>

<h1>{{title}}</h1>
<app-matematicas></app-matematicas>
