
<div>

<section class="bg-info">
  <h4 class="fw-bold fst-italic fs-1 text-center">Libros</h4>
</section>

<ul class="list-group">
  <li class="list-group-item" *ngFor="let libro of libros">
    <a role="button" class="text-decoration-none" [routerLink]="['libros', libro.id]">
      {{ libro.titulo }}
    </a>
  </li>
</ul>

</div>
