<div class="container">
  <div class="row">
    <div class="col-4">
      <h1>🐱 Gatos 🐱</h1>
      <form>

        <!-- <div class="input-group mb-3">
        <label class="input-group-text" for="nombre">Nombre</label>
        <input class="form-control" type="text" name="nombre" id="nombre">
        </div>

        <div class="input-group mb-3">
        <label class="input-group-text" for="url_img">Imagen</label>
        <input class="form-control" type="url" name="url_img" id="url_img">
        </div>

        <input type="submit" class="btn-primary btn" value="Agregar"> -->
        <form (ngSubmit)="newCat(newCatForm.value)" [formGroup]="newCatForm">
          <input type="hidden" formControlName="id">

          <label for="nombre">Nombre --> </label>
          <input type="text" formControlName="nombre" id="nombre">

          <br><br>

          <label for="url_img">Imagen --> </label>
          <input type="url" formControlName="url" id="url_img">

          <br><br>

          <input type="submit" class="btn-primary btn" [disabled]="!newCatForm.valid" value="Agregar">
        </form>

        <br>

      </form>
    </div>
    <div class="col-4 text-center mt-5">
      <div class="justify-content-center mx-auto card" *ngFor="let cat of cats">
        <div class="card-img-top">
          <img [src]="cat.data.url">
        </div>
        <div class="card-title">
          <p>{{cat.data.nombre}}</p>
          <div class="btn-group" role="group">
            <button class="btn-success btn" (click)="editCat(cat.id)">Editar</button>
            <button class="btn-danger btn" (click)="deleteCat(cat.id)">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
