
<body class="container text-center fw-bold">

<div role="button" class="col-4 bg-primary p-5 m-5 d-inline-block" routerLink="/listado/A">
  Grupo A
</div>

<div role="button" class="col-4 bg-success p-5 m-5 d-inline-block" routerLink="/listado/B">
  Grupo B
</div>

<div role="button" class="col-4 bg-danger p-5 m-5 d-inline-block" routerLink="/listado/C">
  Grupo C
</div>

</body>
