
<h4>Libro detalle:</h4>
<dl class="dl-horizontal" *ngIf="libro">
  <dt>Identificador</dt><dd>{{ libro.id }}</dd>
  <dt>Titulo</dt><dd>{{ libro.titulo }}</dd>
  <dt>Autor</dt><dd>{{ libro.autor }}</dd>
</dl>
<ul class="list-group">
  <li class="text-center list-group-item active"><h4>Información adicional</h4></li>

  <li class="list-group-item">
    <a routerLink="imagenes" routerLinkActive="active-link">Imágenes</a>
  </li>

  <li class="list-group-item">
    <a routerLink="opiniones" routerLinkActive="active-link">Opiniones</a>
  </li>
</ul>
<br>
<router-outlet></router-outlet>
