
<form (ngSubmit)="createLibro(newLibroForm.value)" [formGroup]="newLibroForm" #ngForm="ngForm" class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{funcion}} Libro
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input formControlName="Titulo" matInput placeholder="Titulo">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input formControlName="Autor" matInput placeholder="Autor">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field class="full-width">
            <input formControlName="Genero" matInput placeholder="Genero">
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field class="full-width">
            <input formControlName="Precio" matInput placeholder="Precio">
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field class="full-width">
            <input formControlName="Img" matInput placeholder="Url Imagen">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="!newLibroForm.valid" mat-raised-button color="primary">Guardar</button>
    </mat-card-actions>
  </mat-card>
</form>
