
<p>Custom rating template provided as child element</p>

<ngb-rating [max]="5" [(rate)]="currentRate" aria-valuemax="5">
  <ng-template let-fill="fill" let-index="index">
    <span class="star" [class.filled]="fill === 100">&#9733;</span>
  </ng-template>
</ngb-rating>

<hr>
<pre>Rate: <b>{{currentRate}}</b></pre>
