
<header class="bg-warning">
  <h3 class="text-center p-3">Servicio Router: ejemplos de uso</h3>

  <ul class="nav navbar-dark bg-dark">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/libros">Libros</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/autores">Autores</a>
    </li>
  </ul>
</header>
