
<div>

  <section class="bg-info">
    <h4 class="fw-bold fst-italic fs-1 text-center">Videojuegos</h4>
  </section>

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let juego of videojuegos">
      <a role="button" class="text-decoration-none" routerLink="details/{{juego.ranking}}">
        {{ juego.nombre }}
      </a>
    </li>
  </ul>

</div>
