
<form (ngSubmit)="createSocio(newSocioForm.value)" [formGroup]="newSocioForm" class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{funcion}} Socio
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input formControlName="Nombre" matInput placeholder="Nombre">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input formControlName="Apellidos" matInput placeholder="Apellidos">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field class="full-width">
            <input formControlName="Dni" matInput placeholder="DNI">
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field class="full-width">
            <input formControlName="Empleo" matInput placeholder="Oficio">
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field class="full-width">
            <input formControlName="Img" matInput placeholder="Url Imagen">
          </mat-form-field>
        </div>
        <div class="col-sm-6 top-padding">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Fecha Nacimiento</mat-label>
            <input formControlName="FechaNac" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="!newSocioForm.valid" mat-raised-button color="primary">Guardar</button>
    </mat-card-actions>
  </mat-card>
</form>

