
<div class="container">
  <header class="bg-warning">
    <h3 class="text-center p-3">Ranking</h3>

    <ul class="nav navbar-dark bg-dark">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/home">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/videojuegos">Videojuegos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/usuarios">Usuarios</a>
      </li>
    </ul>
  </header>
  <router-outlet></router-outlet>
</div>

