
<mat-card class="example-card container text-center text-white mt-5">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{socio.Nombre}} {{socio.Apellidos}}</mat-card-title>
    <mat-card-subtitle>{{socio.Empleo}}</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image class="w-25 img-fluid img-thumbnail" src="{{socio.Img}}" alt="Portada">

  <mat-card-content>

    <mat-card-title class="bg-danger">Fecha de Nacimiento</mat-card-title>
    <mat-card-subtitle class="fs-5">{{socio.FechaNac.seconds * 1000 | date :'dd/MM/yyyy'}}</mat-card-subtitle>

  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" routerLink="/socioModificado/{{socio.id}}"
            matTooltip="Editar Socio" matTooltipPosition="above">
      <mat-icon class="m-2"> border_color</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
