
<h1>Padre</h1>
<h2>Prueba strings</h2>

<ul>
  <li *ngFor="let cosa of cosas" (click)="selectCosa(cosa)">
    {{cosa}}
  </li>
</ul>

<app-hijo [miCosa]="cosaSelect" (event)="recibir($event)" *ngIf="cosaSelect != ''"></app-hijo>
